In [ ]:
import random

# 生成一個 1 到 10 之間的隨機整數（包含 1 和 10）
random_number = random.randint(1, 10)
print(f"生成的隨機數是: {random_number}")

# 生成一個 -5 到 5 之間的隨機整數（包含 -5 和 5）
another_random_number = random.randint(-5, 5)
print(f"生成的另一個隨機數是: {another_random_number}")

# 參數 a 也可以大於 b，但通常建議 a 小於或等於 b 以避免混淆
# 例如，random.randint(10, 1) 的行為會和 random.randint(1, 10) 相同，
# 因為它會自動調整為較小的數作為下限，較大的數作為上限。
# 然而，為了程式碼的可讀性和預期行為，建議保持 a <= b。

In [ ]:
import random,openpyxl
import random as rd
from random import randint
from random import randint as rdi
print(random.randint(1,6))
print(rd.randint(1,6))
print(randint(1,6))
rdi(1,6)

In [ ]:
import openpyxl as op
# ex=op.Workbook()
# ex.save("test.xlsx")
ex1=op.load_workbook("test.xlsx")
ex1

In [ ]:
sht1=ex1[ex1.sheetnames[1]]
sht1.title="工作表名稱"

In [ ]:
sht1["A1"]=123
ex1.save("test1.xlsx")

In [ ]:
for x in range(1,5):
    sht1.cell(x,3).value="AAA"
ex1.save("test1.xlsx")

In [ ]:
for x in range(1,5):
    sht1.cell(x,3,"bbb")
ex1.save("test1.xlsx")

In [ ]:
print(sht1["B3"])
print(sht1.cell(3,2))
print(list(sht1.rows))
print(list(sht1.rows)[2][1])
print(list(sht1.columns))
print(list(sht1.columns)[1][2])

In [ ]:
print(sht1["B3"].row)
print(sht1["B3"].column)
print(sht1["B3"].coordinate)
print(sht1["C3"].value)

In [ ]:
import openpyxl as op
ex=op.Workbook()
ex.sheetnames
sht=ex[ex.sheetnames[0]]
sht.cell(5,5).value=123456
ex.save("test3.xlsx")

In [ ]:
ex.sheetnames
ex.create_sheet("sheet41")
ex.sheetnames

In [ ]:
ex.copy_worksheet(sht)

In [ ]:
ex.sheetnames
ex.save("test3.xlsx")

In [ ]:
ex2=op.Workbook()
sht1=ex2.active
ex2.copy_worksheet(sht1)

In [ ]:
ex2.remove(sht1)
del ex2['Sheet Copy']

In [ ]:
import openpyxl as op
ex2=op.Workbook()
sht2=ex2.active
a=[[1,2,3],[4,5,6]]
for x in a:
    sht2.append(x)
ex2.save("test4.xlsx")

In [ ]:
import random
if random.randint(1,30) not in [26,13] :
    print(random.randint(1,30))

In [ ]:
import openpyxl as op
ex3=op.Workbook()
sht3=ex3.active
col=["名稱","時薪","時數"]
sht3.append(col)
while True:
    data=[]#[工作名稱,時薪,時數]
    for x in col:
        data.append(input(f"請輸入工作{x}"))
    sht3.append(data)
    if input("是否繼續")=="否":
        break
ex3.save("test5.xlsx")

In [ ]:
import openpyxl as op
ex4=op.load_workbook("test5.xlsx")
sht4=ex4.active
col=["名稱","時薪","時數"]
for row in list(sht4.rows):
    if row[0].value=="名稱":
        continue
    print(f"工作{col[0]}:{row[0].value},{col[1]}:{row[1].value},{col[2]}:{row[2].value}")
while True:
    num=int(input("請問刪除第幾筆資料"))
    sht4.cell(num+1,1).value=""
    sht4.cell(num+1,2).value=""
    sht4.cell(num+1,3).value=""
    break
ex4.save("test5.xlsx")

In [ ]:
ex4.save("test5.xlsx")

In [5]:
import twstock as tw
import pandas as pd
stock=tw.realtime.get('2363')
print(stock['success'])
result=pd.DataFrame(stock).T.iloc[1:3]
result

True

,code,channel,name,fullname,time,latest_trade_price,trade_volume,accumulate_trade_volume,best_bid_price,best_bid_volume,best_ask_price,best_ask_volume,open,high,low
info,2363,2363.tw,矽統,矽統科技股份有限公司,2025-07-11 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
realtime,NaN,NaN,NaN,NaN,NaN,52.8000,999,16596,"[52.8000, 52.7000, 52.6000, 52.5000, 52.4000]","[230, 198, 218, 361, 93]","[52.9000, 53.0000, 53.1000, 53.2000, 53.3000]","[4, 24, 49, 28, 115]",52.8000,53.8000,52.1000