In [181]:
import time
time.localtime()

time.struct_time(tm_year=2025, tm_mon=6, tm_mday=22, tm_hour=16, tm_min=26, tm_sec=56, tm_wday=6, tm_yday=173, tm_isdst=0)

In [179]:
data5=pd.read_excel("test6.xlsx",index_col=0)
new={"人名":[],"職稱":[],"年資":[]}
while 1:
    for s in new:
        new[s].append(input(f"請輸入{s}"))
    if input("請問要繼續新增嗎?YES/NO")=="NO":
        break
new_d=pd.DataFrame(new)
data5=pd.concat([data5,new_d])
data5.to_excel("test6.xlsx")

KeyboardInterrupt: Interrupted by user

In [170]:
new_data.to_excel("test6.xlsx")

In [169]:
new_data.sort_index(ascending=1)
new_data.sort_values(["人名"],ascending=1)

      人名   職稱  年資
0   Alan   經理  10
2    Amy  專員A   5
3   Andy  專員B   4
4    Bob  專員C   2
5  Ellen  專員C   3
1  Kevin   副理   8

In [164]:
new_data[new_data["年資"]>=5]
new_data[new_data["職稱"].isin(["專員A"])]
new_data[new_data["職稱"].str.contains("專員")]

      人名   職稱  年資
2    Amy  專員A   5
3   Andy  專員B   4
4    Bob  專員C   2
5  Ellen  專員C   3

In [145]:
new_data=data._append({"人名":"Alan","職稱":"經理","年資":10},ignore_index=True)
new_data=new_data.drop_duplicates()
new_data

      人名   職稱  年資
0   Alan   經理  10
1  Kevin   副理   8
2    Amy  專員A   5
3   Andy  專員B   4

In [137]:
new_data.iat[0,2]=None
new_data.dropna()

      人名   職稱   年資
1  Kevin   副理  8.0
2    Amy  專員A  5.0
3   Andy  專員B  4.0
4    Bob  專員C  2.0
5  Ellen  專員C  3.0

In [146]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資,index=["A1","A2","A3","A4"])
new={"人名":["Bob","Ellen"],"職稱":["專員C","專員C"],"年資":[2,3]}
data2=pd.DataFrame(new)
new_data=pd.concat([data,data2],ignore_index=1)
new_data

      人名   職稱  年資
0   Alan   經理  10
1  Kevin   副理   8
2    Amy  專員A   5
3   Andy  專員B   4
4    Bob  專員C   2
5  Ellen  專員C   3

In [120]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資,index=["A1","A2","A3","A4"])
data=data._append({"人名":"Bob","職稱":"專員C","年資":2},ignore_index=True)
data

      人名   職稱  年資
0   Alan   經理  10
1  Kevin   副理   8
2    Amy  專員A   5
3   Andy  專員B   4
4    Bob  專員C   2

In [111]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資,index=["A1","A2","A3","A4"])
data.insert(2,column="考績",value=["甲","丙","甲","乙"])
data

       人名   職稱 考績  年資
A1   Alan   經理  甲  10
A2  Kevin   副理  丙   8
A3    Amy  專員A  甲   5
A4   Andy  專員B  乙   4

In [109]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資,index=["A1","A2","A3","A4"])
print(data.loc[["A1","A3"],["人名","年資"]])
print(data.iloc[:,[0,2]])
data

      人名  年資
A1  Alan  10
A3   Amy   5
       人名  年資
A1   Alan  10
A2  Kevin   8
A3    Amy   5
A4   Andy   4

       人名   職稱  年資
A1   Alan   經理  10
A2  Kevin   副理   8
A3    Amy  專員A   5
A4   Andy  專員B   4

In [105]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資,index=["A1","A2","A3","A4"])
print(data.at["A2","年資"])
print(data.iat[3,1])
data

8

       人名   職稱  年資
A1   Alan   經理  10
A2  Kevin   副理   8
A3    Amy  專員A   5
A4   Andy  專員B   4

In [89]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資)
data[2:3]

    人名   職稱  年資
2  Amy  專員A   5

In [118]:
import pandas as pd
人資={"人名":["Alan","Kevin","Amy","Andy"],"職稱":["經理","副理","專員A","專員B"],"年資":[10,8,5,4]}
data=pd.DataFrame(人資)
# print(data["人名"])
list(data.columns)[:]
print(data[list(data.columns)[-1]])
data.columns.tolist()

0    10
1     8
2     5
3     4
Name: 年資, dtype: int64

'人名'

In [99]:
import pandas as pd
人資2=[["Alan","經理"],["Kevin","副理"]]
data2=pd.DataFrame(人資2,columns=["人名","職稱"],index=["A","B"])
data2

       0   1
0   Alan  經理
1  Kevin  副理

In [57]:
import pandas as pd
人資={"人名":["Alan","Kevin"],"職稱":["經理","副理"]}
data=pd.DataFrame(人資)
data

      人名  職稱
0   Alan  經理
1  Kevin  副理

In [52]:
import pandas as pd
金額=pd.Series([110,111,113])
r=[1]
for x in range(1,金額.size):
    r.append((金額[x]-金額[x-1])/金額[x-1])
報酬率=pd.Series(r)
報酬率

0    1.000000
1    0.009091
2    0.018018
dtype: float64

In [44]:
import pandas as pd
工作=pd.Series(["清潔","油漆","打草","挖水溝"],index=["項目一","項目二","項目三","項目四"])
new=pd.Series(["站崗","打靶"])
new2=工作._append(new,ignore_index=1)
new2[2]="砍草"
for x in range(new2.size):
    new2[x]="A"
new2

0    A
1    A
2    A
3    A
4    A
5    A
dtype: object

In [19]:
import pandas as pd
工作=pd.Series(["清潔","油漆","打草","挖水溝"],index=["項目一","項目二","項目三","項目四"])
工作["項目一"]

'清潔'

In [13]:
數值=pd.Series([1,499,5460,"4565",1,499,5460.46,546])
數值

0          1
1        499
2       5460
3       4565
4          1
5        499
6    5460.46
7        546
dtype: object

In [7]:
import pandas as pd
工作=pd.Series(["清潔","油漆","打草","挖水溝"])
工作.index=["項目一","項目二","項目三","項目四"]
工作

項目一     清潔
項目二     油漆
項目三     打草
項目四    挖水溝
dtype: object